body {
    background-color: #ccc;
}

#banner {
    width: 100%;
}

h1 {
    background-color: #ddd;
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: rgb(100, 0, 250);
}

#mision {
    font-size: 1.5rem;
}

#diferenciales {
    padding: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#diferenciales img {
    width: 50%;
}